<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.freshup">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activities.ProduitsCapilaire"></activity>
        <activity android:name=".Activities.SnekersActivity" />
        <activity android:name=".Activities.VetementsActivity" />
        <activity android:name=".Activities.JoinQueueActivity" />
        <activity android:name=".Activities.PresentationsActivity" >

        </activity>
        <activity android:name=".Activities.ChangePassActivity" />
        <activity android:name=".Activities.SettingsActivity" />
        <activity android:name=".Activities.Profile" >

        </activity>
        <activity android:name=".Activities.NavigatorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.OtpVerification" />
        <activity android:name=".Activities.SignUpActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.MainActivity" >

        </activity>
        <activity android:name=".Activities.About" />
    </application>

</manifest>